<!DOCTYPE html>
<html dir="ltr" lang="en-GB">
<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8; charset=ISO-8859-1"/>

    <title>Presupuestador WEB</title>

    <!-- Favicon -->
    <link rel="icon" href="/FullPage_PresupuestadorWEB/img/icons/purchase-home-purchase-a-house-house-shopping-house-hunting-svgrepo-com blanco chico.png" type="image/png">

    <!-- Css -->
    <link rel="stylesheet" href="login_style_3.css" type="text/css">

</head>

<body class="bg-body overflow-y-overlay">
    
    <div id="app" class="h-screen lg:h-auto bg-no-repeat bg-cover bg-center" style="background-image: url(/FullPage_PresupuestadorWEB/img/login-bg.png);">
    <div class="relative w-full lg:max-w-7xl flex items-center m-auto">
        <div class="hidden lg:block md:w-6/12 h-full flex-col h-fit">
    <div class="swiper bg-cover bg-bottom bg-no-repeat h-screen py-24">
        <div class="swiper-container h-full">
            <div class="swiper-wrapper">
                <div class="swiper-slide flex justify-center flex-col items-center">
                    <div style="width:450px; height:450px;">
                        <img src="/FullPage_PresupuestadorWEB/img/Scenes/workspace _ man, guy, person, desk, table, furniture, laptop, computer, sheld, speakers.png" />
                    </div>

                    <h1 class="text-3xl text-black-400 font-bold">
Calcula tu presupuesto desde casa
                    </h1>
                </div>
            </div>
        </div>
    </div>
        </div>
        <div class="w-full lg:w-46 h-31 flex flex-col justify-center gap-12 px-6 lg:px-24 py-24 mt-12 lg:mt-0">
            <div class="flex flex-col gap-4">
            <div> 
            <img src="/FullPage_PresupuestadorWEB/img/Logos/text-1687315852116.png" alt="">
            
            <h1 class="text-lg my-3">

Inicia sesión con la contraseña proporcionada por tu proveedor
            </h1>
        </div>

        <form
    method="POST"
    action="http://127.0.0.1:5500/FullPage_PresupuestadorWEB/prototype/login.html"
        class="mb-0"
            role="form"
            novalidate="true"
            enctype="multipart/form-data"
            accept-charset="UTF-8"
        @submit.prevent="onSubmit"
    @keydown="form.errors ? form.errors.clear($event.target.name): null"
    id="auth">
    <input type="hidden" name="_token" value="gbvXa93tEt1LmWdKhERP7I9blo1aQ2P61OqY47il">
    <input type="hidden" name="_method" value="POST">
    <div class="grid sm:grid-cols-6 gap-x-8 gap-y-6 my-3.5 lg:h-64">
                <div class="relative sm:col-span-6 required":class="['has-error': form.errors.get(&quot;email&quot;)}]">
                    <label class="text-black text-sm font-medium" for="email" required="required">
Email
            <span class="text-red ltr:ml-1 rtl:mr-1">*</span>
        </label>        
        <div class="input-group-alternative">
            <input type="email"
            name="email"
            id="email"
            class="w-full text-sm px-3 py-2.5 mt-1 rounded-lg border border-light-gray text-black placeholder-light-gray bg-white disabled:bg-gray-200 focus:outline-none focus:ring-transparent focus:border-purple"
            placeholder="Email"
            required="required"
            v-model="form.email"/>
        </div>

            <div class="text-red text-sm mt-1 block"
            v-if="form.errors.has(&quot;email&quot;)"
            v-html="form.errors.get(&quot;email&quot;)">
            </div>
        </div>

        <div class="relative sm:col-span-6 required":class="[{'has-error': form.errors.get(&quot;password&quot;)}]">
        <label class="text-black text-sm font-medium" for="password" required="required">
Contraseña
        <span class="text-red ltr:ml-1 rtl:mr-1">*</span>
        </label>        
        <div class="input-group-alternative">
            
        <input type="password"
        name="password"
        id="password"
        class="w-full text-sm px-3 py-2.5 mt-1 rounded-lg border border-light-gray text-black placeholder-light-gray bg-white disabled:bg-gray-200 focus:outline-none focus:ring-transparent focus:border-purple"
        placeholder="Contraseña"
        required="required"
        v-model="form.password"/>
        </div>

                    <div class="text-red text-sm mt-1 block"
    v-if="form.errors.has(&quot;password&quot;)"
    v-html="form.errors.get(&quot;password&quot;)">
</div>
            </div>
<div class="relative sm:col-span-6 required">
    <div class="flex items-center">
        <div class="cf-turnstile" data-sitekey="0x4AAAAAAACVN3Lfwmyl9OBR"></div> 
    </div>

    <div class="text-red text-sm mt-1 block"
    v-if="form.errors.has(&quot;cf-turnstile-response&quot;)"
    v-html="form.errors.get(&quot;cf-turnstile-response&quot;)">
</div>
</div>

<script>
    let timerId = setInterval(function() {
        document.querySelector('#app').__vue__.form['cf-turnstile-response'] = document.querySelector('input[name="cf-turnstile-response"]').value;
    }, 1000);
</script>
        
    <div class="sm:col-span-6 flex flex-row justify-between items-center">
        <div>
            <input  type="checkbox"
                    name="remember"
                    class="rounded-sm text-purple border-gray-300 cursor-pointer disabled:bg-gray-200 focus:outline-none focus:ring-transparent"
                    id="checkbox-remember"
                    value="1"
                    required="required"
                    v-model="form.remember" class="text-purple focus:outline-none focus:ring-purple focus:border-purple"/>

            <label class="ml-2" for="checkbox-remember">
Guardar mis datos en este dispositivo
            </label>
        </div>
    </div>

    <button type="submit" class="relative flex items-center justify-center bg-green hover:bg-green-700 text-white px-6 py-1.5 text-base rounded-lg disabled:bg-green-100 sm:col-span-6" :disabled="form.loading">
        <span :class="[{'opacity-0': form.loading}]">
Ingresar
        </span>
    </button>

    <div class="sm:col-span-6 flex flex-row justify-between items-center">
        <a class="text-black-400 hover:text-black-700 text-sm" href="">
Solicita al proveedor una cuenta de usuario
        </a>
        <a class="text-black-400 hover:text-black-700 text-sm" href="">
¿Olvidaste tu contraseña?
        </a>
    </div>
</div>
</form>

<footer class="footer">
    <div class="lg:absolute bottom-10 right-6 lg:right-24 flex flex-col sm:flex-row items-center justify-end text-sm font-light">&nbsp;
        <a class="" href="" target="_blank"></a>
    </div>
</footer>
</div>
</div>
</div>
    </div>

    <!-- SCRIPTS
      
        <script src="https://app.akaunting.com/public/js/auth/common.min.js?v=3.0.15"></script>

 <script type="text/javascript" src="https://app.akaunting.com/public/akaunting-js/hotkeys.js" defer></script> 

<script src="public/vendor/livewire/livewire.js?id=90730a3b0e7144480175" data-turbo-eval="false" data-turbolinks-eval="false" ></script><script data-turbo-eval="false" data-turbolinks-eval="false" >window.livewire = new Livewire();window.Livewire = window.livewire;window.livewire_app_url = 'https://app.akaunting.com';window.livewire_token = 'gbvXa93tEt1LmWdKhERP7I9blo1aQ2P61OqY47il';window.deferLoadingAlpine = function (callback) {window.addEventListener('livewire:load', function () {callback();});};let started = false;window.addEventListener('alpine:initializing', function () {if (! started) {window.livewire.start();started = true;}});document.addEventListener("DOMContentLoaded", function () {if (! started) {window.livewire.start();started = true;}});</script>

<script src="https://app.akaunting.com/public/vendor/alpinejs/alpine.min.js"></script>
-->
    
</body>
</html>