<!DOCTYPE html>
<html dir="ltr" lang="en-GB">
<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8; charset=ISO-8859-1"/>

    <title>CuantoDuele.com</title>

    <!-- Favicon -->
    <link rel="icon" href="../../img/Icons/favicon.png">

    <!-- Css -->
    <link rel="stylesheet" href="login_style_3.css">

</head>

<body class="bg-body overflow-y-overlay">
    
    <div id="app" class="h-screen lg:h-auto bg-no-repeat bg-cover bg-center" style="background-image: url(../../img/login-bg.png);">
    <div class="relative w-full lg:max-w-7xl flex items-center m-auto">
        <div class="hidden lg:block md:w-6/12 h-full flex-col h-fit">
    <div class="swiper bg-cover bg-bottom bg-no-repeat h-screen py-24">
        <div class="swiper-container h-full">
            <div class="swiper-wrapper">
                <div class="swiper-slide flex justify-center flex-col items-center">
                    <div class="main-image-login">
                        <img src="../../img/Logos/Constructor-PNG-Background.png" />
                    </div>

                </div>
            </div>
        </div>
    </div>
        </div>
        <div class="main-title w-full lg:w-46 h-31 flex flex-col justify-center gap-12 px-6 lg:px-24 py-24 mt-12 lg:mt-0">
            <div class="flex flex-col gap-4">
            <div> 
            <img class="main-trademark" src="../../img/text/text-1687934917451-grande.png" alt="">
            
            <h1 class="text-lg my-3">
Inicia sesión o crea una nueva cuenta:
            </h1>
        </div>

        <form
            id="auth">
    <div class="grid sm:grid-cols-6 gap-x-8 gap-y-6 my-3.5 lg:h-64">
                <div class="relative sm:col-span-6 required":class="['has-error': form.errors.get(&quot;email&quot;)]">
                    <label class="text-black text-sm font-medium" for="email" required="required">
Email
            <span class="text-red ltr:ml-1 rtl:mr-1">*</span>
        </label>        
        <div class="input-group-alternative">
            <input 
            type="email"
            name="email"
            id="email"
            class="w-full text-sm px-3 py-2.5 mt-1 rounded-lg border border-light-gray text-black placeholder-light-gray bg-white disabled:bg-gray-200 focus:outline-none focus:ring-transparent focus:border-purple"
            placeholder="Email"
            required="required"
            v-model="form.email"/>
        </div>

    <div class="contrasenia-input relative sm:col-span-6 required":class="[{'has-error': form.errors.get(&quot;password&quot;)}]">
        <label class="contrasenia-input text-black text-sm font-medium" for="password" required="required">
Contraseña
        <span class="text-red ltr:ml-1 rtl:mr-1">*</span>
        </label>        
        <div class="input-group-alternative">
            
        <input 
        type="password"
        name="password"
        id="password"
        class="w-full text-sm px-3 py-2.5 mt-1 rounded-lg border border-light-gray text-black placeholder-light-gray bg-white disabled:bg-gray-200 focus:outline-none focus:ring-transparent focus:border-purple"
        placeholder="Contraseña"
        required="required"
        v-model="form.password"/>
        </div>
    </div>

<div class="sm:col-span-6 flex flex-row justify-between items-center">
    <a class="bottom-options text-black-500 hover:text-black-700 text-sm" href="../Page2_UserSettings/user_settings.html">
Crea una nueva cuenta
    </a>
</div>

    <button 
    type="submit" 
    class="ingresar-button relative flex items-center justify-center bg-green hover:bg-green-700 text-white px-6 py-1.5 text-base rounded-lg disabled:bg-green-100 sm:col-span-6"
    href = "../Page3_Cart/index.html">
        <span class="[{'opacity-0': form.loading}]">
Ingresar al presupuestador
        </span>
    </button>
    </div>
</form>
</div>
</div>
</div>
</div>

    
<!--FOOTER-->
<footer class="footer container">
    <div class="flex flex-col sm:flex-row items-center justify-between lg:mt-20 py-7 text-sm font-light">
        <div>
    Sitio desarrollado para la Diplomatura en Iniciación al Desarrollo Web con JavaScript de la Universidad Tecnológica Nacional
        <a class="" href="" target="_blank"></a>
        &nbsp;<span class="material-icons align-middle text-black-300">-</span>&nbsp;
    Versión 1.0.0
        </div>
    </div>
</footer>

<script src="./login_db.js"></script> 
</body>
</html>